<div class="number">
    <div class="unit-name" > <%= unit %> </div>
    <button class="minus">-</button>
    <input class="unit" type="text" name="<%= unit %>" value="0"/>
    <button class="plus">+</button>
  </div>